<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Indic-OCR</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/4/46/Wikisource-ico-48px.png">
        <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
        <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Indic-OCR</span>
        </div>
    </nav>
    <div class="container">
        <br/><br/><br/>
       <form action="{{ url_for('getOCR') }}" method="get">
            <div class="form-group">
                <label for="imageurl">Image URL:</label>
                <input type="text" class="form-control" id="imageurl" name="imageurl" placeholder="https://upload.wikimedia.org/" required autocomplete="off">
                <p style="font-size: 12px;">This must start with 'https://upload.wikimedia.org/' and be a full URL to an actual image file.</p>
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
        <br/>
        <br/>
        <hr>
        <br/>
        <h5>Notes:-</h5>
        <p style="font-size: 12px;">Language is optional. We uses it our convenience. It means this tool will work for all languages. which is supported by Google.</p>
        <p style="font-size: 12px;">This tool uses google api. and store images file and OCR text for a short time. if you don't want it. then feel free to not use this tool.</p>
        <br/>
        <p> <small> Created by: <a href="https://meta.wikimedia.org/wiki/User:Jayprakash12345"> Jay Prakash</a> </small></p>
        <p> For more information, see: <a href="https://meta.wikimedia.org/wiki/Indic-TechCom">Indic-TechCom</a> </p>
    </div>
    </body>
</html>